[workspace]
authors = ["Olivier Roussel <olivier.roussel@inria.fr>"]
channels = ["conda-forge", "https://prefix.dev/panda3d-forge"]
name = "test-ogre-conda-package"
platforms = ["linux-64", "linux-aarch64", "osx-64", "win-64", "osx-arm64"]
version = "0.1.0"

[dependencies]
cxx-compiler = ">=1.7.0"
cmake = ">=3.22"
ninja = ">=1.11"
pkg-config = ">=0.29.2"
git = ">=2.47.0"
coin3d = "*"
ogre = ">=14.4.1"
panda3d = { version = ">=1.10.15", channel = "https://prefix.dev/panda3d-forge" } 


[tasks]
configure = { cmd = [
  "cmake",
  "-G",
  "Ninja",
  "-B",
  "build",
  "-S",
  ".",
  "-DCMAKE_VERBOSE_MAKEFILE=OFF",
  "-DCMAKE_BUILD_TYPE=Release",
  "-DCMAKE_INSTALL_PREFIX=$CONDA_PREFIX"
] }

build = { cmd = "cmake --build build --parallel $CPU_COUNT", depends-on = ["configure"] }

# build-modules = { cmd = "cmake --build $VISP_BUILD_DIR --target visp_modules --parallel $CPU_COUNT", depends-on = ["configure"] }
# build-base = { cmd = "cmake --build $VISP_BUILD_DIR --parallel $CPU_COUNT", depends-on = ["build-modules"] }
# build = { depends-on = ["build-base"]}

